{% extends 'base/layout.html' %}
{% load static %}
{% block content %}


<div class="container">
        <form action="" method="POST" class="mt-4">
                {% csrf_token %}{{form.as_p}}
                <input type="submit" value="search" class="btn-btn-info">
        </form>
        {% if result %} {{result}}
        <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student Name </th>
                            <th scope="col">Department</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for r in result %}
                          <tr>
                            <th scope="row">{{r.id}}</th>
                            <td>{{r.student_name}}</td>
                            <td>{{r.department}}</td>
                            <td>
                                        
                                       <a href="delete-student/{{r.id}}">Delete</a>
                                       <a href="edit-student/{{r.id}}">Edit</a>
                                
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
    </div>
    {% endif %}
    {% endblock %} 